
* {
	margin: 0 ;
	box-sizing: border-box;
	/*font-size: 30px;
	font: lighter;
	font-weight: 2px;*/	
}
/*body{
	background-color: rgb(238, 237, 236);
}*/
.herosectionbody{

	background-color: rgb(238, 237, 236);
}
.hero-section{

	margin-left: 301px;
	margin-top: 413px;
	font-weight: 1920px;

}
.collection{
	font-family: 'Roboto' , sans-serif;
	width: 360px;
	height: 55px;
	font-size: 74px;
	top: 299px;
	left: 301;
	line-height: 55px;
	padding: 50px 10px 100px 10px;
}
.pararaf{
	font-family: 'Roboto' , sans-serif;
	width: 699px;
	height: 119px;
	top: 413px;
	left: 301px;
	padding: 10px 0px 100px 10px;
}
.btn-shop{
	margin-top: 100px;
	margin-left: 100px;
	width: 223px;
	background: rgb(66, 65, 65);
	color: white;
	font-size: 29px;
	display: flex;	
	padding: 19px 26px 19px 26px;
	background-color: #1E2832;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.person{
	display: flex;
}
.collection-type{

	width: 699px;
	height: 364px;
}
.personimg{
	margin-top: -350px;
	border-radius: 160px 0px 160px 0px;
	width: 442px;
	height: 562px;
	margin-left: 1085px;
}

.kucukresim{
	width: 132.34px;
	height: 66.61px;
	top: 614.62px;
	left:86.16px;
	transform: rotate(15deg);
	/*position: absolute;*/
}
.buyukresim{
	width: 195px;
	height:  262px;
	margin-top: -475.8px;
	left:2100px ;
	transform: rotate(-15deg) ;
	position: absolute;

}
