@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1920px;
}
.header-nav {
  width: 1320px;
  height: 114px;
  margin: 30px auto 0 auto;
  gap: 30px;
}
.button-profile:hover {
  color: rgb(227, 197, 197);
}
.button-basket:hover {
  color: rgb(227, 197, 197);
}
.container-logo {
  width: 1320px;
  height: 59px;
  display: flex;
  justify-content: space-between;
}
.search-input {
  color: #555;
  display: flex;
  padding: 2px;
  height: 25px;
  width: 200px;
}

.logo {
  width: 184px;
  height: 34px;
}
.profile-basket {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  width: 200px;
}
.navbar {
  width: 1320px;
  height: 24px;
  margin-top: 26px;
}
.icon-profile {
  width: 100px;
  height: 25px;
}
.icon-basket {
  width: 99px;
  height: 25px;
}
.button-basket {
  display: flex;
  font-family: Roboto;
  font-weight: 400;
  size: 18px;
  line-height: 21.09px;
  gap: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
}
.button-profile {
  display: flex;
  font-family: Roboto;
  font-weight: 400;
  size: 18px;
  line-height: 21.09px;
  gap: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
}
.img-profile {
  width: 25px;
  height: 25px;
}
.nav-categories {
  font-family: Open Sans;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  list-style-type: none;
  display: inline-block;
}
.nav-categories > a {
  text-decoration: none;
  color: #000;
}
.nav-categories > a:hover {
  color: rgb(227, 197, 197);
}
.navbar-ul {
  display: flex;
  justify-content: space-between;
}
/*esra/JU-2-ProductCard-Template-Start*/
.best-sellers {
  width: 1320px;
  height: 114px;
  margin: 30px auto 0 auto;
  gap: 30px;
}
.bs-title {
  margin: auto;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 500;
  line-height: 58.59px;
  text-align: center;
}
.bs-categories-list {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.bs-categories-det > a {
  text-decoration: none;
  color: #6c6565;
  margin-left: 40px;
}
.bs-all-product > a {
  text-decoration: none;
  color: black;
  margin-left: auto;
}
.bs-show-all {
  margin-left: auto;
}
.bs-show-all > a {
  text-decoration: none;
  color: white;
  padding: 2px 5px;
  background-color: black;
}
.bs-product-detail {
  position: relative;
  display: flex;
  width: 1320px;
  height: 478px;
  margin: 30px auto 0 auto;
  gap: 30px;
}
.bs-slick-list {
  max-width: Hug (312px) px;
  max-height: Hug (478px) px;
  gap: 18px;
  grid-template-columns: repeat(4, 1fr);
}
.bs-slick-list-select {
  max-width: Hug (312px) px;
  max-height: Hug (478px) px;
  gap: 18px;
  opacity: 0.4;
  grid-template-columns: repeat(4, 1fr);
}
.bs-top-product {
  position: relative;
  display: inline-block;
}
.bs-ticket {
  position: absolute;
  top: 5%;
  background-color: black;
  color: white;
  padding: 5px;
  z-index: 1;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
}
.bs-hot {
  background-color: red;
}

.bs-product-img {
  max-width: 100%;
  height: auto;
}
.bs-slider {
  position: absolute;
  margin-top: 170px;
  z-index: 1;
}
.left-slider {
}
.right-slider {
  margin-left: 1270px;
}
.bs-product-desciription {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  text-align: left;
  margin-top: 20px;
}
.bs-product-category {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
  display: flex;
  margin-top: 20px;
  color: #555;
  display: inline-block;
}
.bs-product-price {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  color: #555;
  display: inline-block;
  margin-left: 200px;
}
.old-price {
  text-decoration: line-through;
  font-size: 14px;
  margin-left: 135px;
}
.new-price {
  color: red;
  margin-left: 0px;
}
/*esra/JU-2-ProductCard-Template-End*/
